body {
    margin: 0%;
   
  }
  
  .topnav {
    background-color: #d30cd1;
    overflow: hidden;
    
  }
   .logo {
     display: flex;
     justify-content: center;
     align-items: center;
     list-style: none;
   }
   
   .main-container {
      display: center;
      justify-content: center;
      text-align: center;
      width: 100%;
  
    
  }
  
  .topnav a{
    flex-direction: right;
    color: #ffffff;
    font: 20px;
    text-align: center;
    padding: 20px 20px 26px;
    text-decoration: none;
    font-size: 17px;
  
  }
  
  .topnav a:hover {
    background-color: #d30cd1;
    color: rgb(197, 194, 194);
  }
  
  .topnav a.active {
    background-color: #d30cd1;
    color: rgb(255, 253, 253);
  
  }
  
   
   .main-image {
     color: white;
     font-size: 75pt;
     display: center;
     font-family: 'Anton', sans-serif;
   
   }
  
   .body-container {
     background-color: rgb(255, 255, 255);
     display: flex;
     justify-content: space-evenly;
     height: 500px;
     /* padding-top: 5%; */
     /* padding-bottom: 10%; */
     text-align: center;
   
   }
   /* body {
    font-family: Arial;
    padding: 20px;
    background: #f1f1f1; */
  }
  
  /* Header/Blog Title */
  .header {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background: white;
  }
  
  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .leftcolumn {
    float: left;
    width: 75%;
  }
  
  /* Right column */
  .rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
  }
  
  /* Fake image */
  .fakeimg {
    background-color:#99e3f1;
    width: 100%;
    padding: 20px;
  }
  
  /* Add a card effect for articles */
  .card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #99e3f1;
    margin-top: 20px;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
      width: 100%;
      padding: 0;
    }
  }